<ion-view>
  <ion-nav-title>
    <h1 class="title">Weather for <span ng-if="location">: {{ location }}</span></h1>
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <a class="button button-clear button-icon icon-right ion-arrow-left-c"
       href="#/main"></a>
  </ion-nav-buttons>
  <ion-content ng-init="init()">
    <div class="row">
      <div class="col col-33">
        <ion-list class="list">
          <ion-item ng-repeat="favorite in favorites track by $index"
                    class="item item-text-wrap item-button-right"
                    ng-click="getWeather(favorite)">
            <button class="button button-stable"
                    ng-click="remove($index)">
              <i class="icon ion-ios-close-empty"></i>
            </button>
            <p>{{favorite.description}}</p>
          </ion-item>
        </ion-list>
      </div>
      <div class="col">
        <ion-list class="list">
          <ion-item class="item item-divider">{{ location }}</ion-item>
          <ion-item class="item item-text-wrap">
            <p><strong>Description:</strong> {{weather.weather[0].description}}
              <br/><strong>Temp:</strong> {{weather.main.temp}} (max:
              {{weather.main.temp_max}} / min: {{weather.main.temp_min}})
              <br/><strong>Visability:</strong> {{weather.visibility}}
            </p>
          </ion-item>
        </ion-list>
      </div>
    </div>

  </ion-content>
  <ion-footer-bar class="bar-stable">
    <h1 class="title">{{ location }}</h1>
  </ion-footer-bar>
</ion-view>
